
.App-header{
    background-color: white;
}
.box-shadow-full {
    padding: 3rem 1.25rem;
    position: fixed;
    background-color: #fff;
    margin: 7rem;
    height: 90vh;
    padding-top: 1rem;
    margin-top: 1rem;
    
   
    
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    
  }
  
  
    
  iframe{
      width:50vw;
      height: 80vw;
  }