h1 {
    text-align: center;
    margin-top: 7%;
    font-weight: 600;
   font-size: 7rem;
   color: white;
  }

  p {
   text-align: center;
   font-size: 4rem;
   font-weight: 350;
   color: white;
  }